@import "typography.css";
@import "variables.scss";

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin minimun-leght($lenght) {
  @media (min-width:$lenght) {
    @content;
  }
}

;

html {
  font-size: 94.75%;

  //nested media query
  @include minimun-leght(40rem) {
    font-size: 125%;
  }
  //funcionando semelhante a uma função, o $content é o proprio css acima colocado
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3rem 0;
  box-sizing: border-box;
}


.sass-introZero {
  border: 0.05rem solid mainColor;
  background: lighten(map-get($color, main), 70%);
  padding: 1rem * 2;
  // sass can make multiplacation
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;
  width: 90%;
  box-sizing: border-box;
}

// sass pode realizar herança de classes

.sass-introduction {
  @extend .sass-introZero;
}

.sass-introduction p {
  margin: 0;
}

.sass-details {
  border: 0.05rem solid $mainColor;
  background: #fae5ff;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
  width: 90%;
  box-sizing: border-box;
}

.section-header {
  border-bottom: 0.05rem solid $mainColor;
}

.section-header h1 {
  margin: 0 0 1rem 0;
}

.documentation-links {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
  @include display-flex();

  flex: {
    direction: column;
    wrap: nowrap;
  }


  li {
    margin: 0.2rem 0;
    background: $mainColor;
  }

  .documentation-links {
    text-decoration: none;
    color: #521751;
    display: block;
    padding: 0.2rem;
    border: 0.05rem solid #521751;

    &:hover,
    &:active{
      color: white;
      background: map-get($color, secondary);
      border-color: map-get($color, secondary);
    }
  }
}

@media (min-width: 40rem) {
  html {
    font-size: 125%;
  }

  .container {
    padding: 3rem 0;
  }

  .sass-introduction,
  .sass-details {
    width: 30rem;
  }
}